################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/VSCatchAdapter/.vs/VSCatchAdapter/v14
/VSCatchAdapter/obj/Debug
/VSCatchAdapter/bin/Debug
/VSCatchAdapter/bin/Release
/VSCatchAdapter/obj/Release
